## Вычисления с помощью Numpy

### Задание 1

In [8]:
import numpy as np

a = np.array([[1, 2, 3, 3, 1],
            [6, 8, 11, 10, 7]]).transpose()

mean_a = np.mean(a, axis = 0)

print(mean_a)

[2.  8.4]

### Задание 2

In [9]:
a_centered = a - mean_a

print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

### Задание 3

In [12]:
a_centered_sp = a_centered.T[0] @ a_centered.T[1]

print(a_centered_sp)

8.0

In [13]:
a_centered_sp / (a_centered.shape[0] - 1)

2.0

## Работа с данными в Pandas

### Задание 1

In [5]:
import pandas as pd

authors = pd.DataFrame({'author_id':[1, 2, 3], 
                        'author_name':['Тургенев', 'Чехов', 'Островский']}, 
                         columns=['author_id', 'author_name'])

print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [6]:
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3], 
                      'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                      'price':[450, 300, 350, 500, 450, 370, 290]}, 
                       columns=['author_id', 'book_title', 'price'])

print(books)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

### Задание 2

In [9]:
authors_price = pd.merge(authors, books, on='author_id', how='left')

print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Задание 3

In [15]:
top5 = authors_price.nlargest(5, 'price')

print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

### Задание 4

In [17]:
authors_stat = authors_price['author_name'].copy()

print(authors_stat)

0      Тургенев
1      Тургенев
2      Тургенев
3         Чехов
4         Чехов
5    Островский
6    Островский
Name: author_name, dtype: object

In [23]:
authors_stat = authors_price.groupby('author_name').agg({'price':['min', 'max', 'mean']})

authors_stat = authors_stat.rename(columns={'min':'min_price', 'max':'max_price', 'mean':'mean_price'})

print(authors_stat)

                price
            min_price max_price  mean_price
author_name
Островский        290       370  330.000000
Тургенев          300       450  366.666667
Чехов             450       500  475.000000